* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    box-sizing: content-box;
    background-color: white;
}

h1 {
    padding: 10px;
    margin: 0px;
    background-color: lightcoral;
    border: 3px solid coral;
    border-radius: 10px;
    text-align: center;
}

.profile-card {
    position: relative;
    background-color: lemonchiffon;
    border: 3px solid yellow;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.navbar {
    background-color: lightslategray;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    left: 0px;
    justify-content: space-around;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}