* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    box-sizing: content-box;
    background-color: white;
}

h1 {
    padding: 10px;
    margin: 0px;
    background-color: lightcoral;
    border: 3px solid coral;
    border-radius: 10px;
    text-align: center;
}

.question-box {
    position: relative;
    background-color:lemonchiffon;
    border: 3px solid yellow;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.badges {
    display: flex;
    flex-direction: row;
}

.bookmark {
    width: 30px;
    height: 30px;
}

.home {
    width: 30px;
    height: 30px;
}

.profil {
    width: 30px;
    height: 30px;
}

.navbar {
    background-color: lightslategray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    left: 0px;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.icons {
    
}